{% extends "@AGUser/layout.html.twig" %}

{% block ag_user_content %}
    <h2>Modifier mes QR Code colors</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {{ form(form) }}
        </div>
        <div class="col-md-6">
            <h5>Aperçu</h5>
            <hr>
            <img src="{{ qrcode_data_uri('aperçu', size=200, foreground_color: hex_to_rgb(app.user.foregroundColor|default('#000000')), background_color: hex_to_rgb(app.user.backgroundColor|default('#ffffff'))) }}" alt="QR" class="img-responsive img-thumbnail">
        </div>
    </div>
{% endblock %}
