{% extends '::base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        {% block breadcrumbs %}
            <li><a href="{{ path('ag_shortener_homepage') }}">{{ fa('home') }}</a></li>
        {% endblock %}
    </ol>
    {% block ag_shortener_content %}{% endblock %}
{% endblock %}