{% extends "@AGUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">Réinitialiser mon mot de passe</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ fa('refresh') }} Réinitialiser mon mot de passe</h2>
            <hr>
            <p>{{ 'resetting.password_already_requested'|trans }}</p>
        </div>
    </div>
{% endblock %}
