{% extends '@AGShortener/layout.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('ag_shortener_my_links') }}">Mes liens</a></li>
    <li class="active">Détails</li>
{% endblock %}

{% block ag_shortener_content %}
    {% include 'AGShortenerBundle:User:details_content.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{ asset('js/highcharts_theme.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#chart_container').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Nombre de clics'
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Clics'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: true
                    }
                },
                series: [{
                    name: 'Clics',
                    data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
                }]
            });
        });
    </script>
{% endblock %}